@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Raleway, system-ui, sans-serif;
    }
}

@layer utilities {
    .snap {
        scroll-snap-type: var(--scroll-snap-direction)
            var(--scroll-snap-constraint);
    }

    .snap-y {
        --scroll-snap-direction: y;
    }

    .snap-mandatory {
        --scroll-snap-constraint: mandatory;
    }

    .snap-start {
        scroll-snap-align: start;
    }

    .animate-opacity {
        animation: animate-opacity 1s;
    }

    @keyframes animate-opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes animate-opacity1 {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }
    }

    .animate-opacity {
        animation: animate-opacity 1.5s ease-in-out;
    }

    .animate-opacity1 {
        animation: animate-opacity1 2s ease-in-out;
    }
}
