.sliding-images {
    position: relative;
    overflow: hidden;
}

.slide-left,
.slide-right {
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
}

.slide-left {
    left: 100%;
}

.slide-right {
    right: 100%;
}

.slide-left.active {
    transform: translateX(-100%);
}

.slide-right.active {
    transform: translateX(100%);
}